<!DOCTYPE html>
<html>
    <head>
        <title>Uber H3 Viewer</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="never">
        <meta name="referrer" content="no-referrer">
        <link rel="shortcut icon" type="image/png" href="./hex.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
        <script src="https://unpkg.com/h3-js"></script>
        <link rel="stylesheet" href="style.css" type="text/css" media="all">
        <script defer src="./map.js"></script>
    </head>
    <body>

        <div id="app" class="fillScreen" v-cloak>

            <div id="mapid" class="fillScreen"></div>

            <div class="toolbox">
                <form id="goto" v-on:submit.prevent="gotoLocation">
                    <div class="input-group has-validation">
                        <input type="text" class="form-control :invalid" v-model="gotoLatLon" placeholder="lat,lon" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Go</button>
                        </div>
                    </div>
                </form>

                <br />

                <form id="goto" v-on:submit.prevent="findH3">
                    <div class="input-group has-validation">
                        <input type="text" class="form-control :invalid" v-model="searchH3Id" placeholder="valid H3 id" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Find</button>
                        </div>
                    </div>
                </form>

                <hr />
                Current H3 resolution: <b>{{ currentH3Res }}</b>
                <hr />
                <small class="text-muted">Tip: Clicking an H3 cell will copy its id to the clipboard.</small>
            </div>

        </div>

    </body>
</html>
