html, body {
    height: 100%;
}

.fillScreen {
    background-color: 'gray';
    width: 100%;
    height: 100%;
}

.toolbox {
    position: fixed;
    width: 250px;
    top: 16px;
    right: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    opacity: 0.85;
    z-index: 1000;
    padding: 16px;
}

.h3Text {
    font-size: 16pt;
    font-weight: bold;
}
